{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle. If not, see
    <http: //www.gnu.org/licenses />.
}}
{{!
    @template mod_motbot/intervention_message

    HTML message for insights with one single prediction

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "body": "I am a <a href=\"#\">link</a> in a text body.",
        "usefulbuttons": {
            "usefulurl": "https://en.wikipedia.org/wiki/Noodle",
            "notusefulurl": "https://en.wikipedia.org/wiki/Noodle"
        }
    }
}}

{{> mod_motbot/notification_styles}}

{{#body}}
    {{{.}}}
{{/body}}
<br />
{{#hassuggestions}}
    <h3>Suggestions:</h3>
{{/hassuggestions}}
{{#suggestions}}
    {{#text}}
        <div class="suggestion">
            <h5>{{text}}</h5>
            <a class="btn btn-primary" href="{{url}}">{{url_text}}</a>
        </div>
    {{/text}}
    {{^text}}
        <div class="suggestion">
            <h5>{{heading}}</h5>
            <ul>
            {{#suggestionlist}}
                <li>
                    <span>{{text}}</span>
                    <a class="btn btn-primary" href="{{url}}">{{url_text}}</a>
                </li>
            {{/suggestionlist}}
            </ul>
            {{#buttonrow}}
                <a class="btn btn-primary" href="{{url}}">{{url_text}}</a>
            {{/buttonrow}}
        </div>
    {{/text}}
{{/suggestions}}
<br />
<br />

{{#usefulbuttons}}
    <div>
        <strong>{{#str}} washelpful, analytics {{/str}}</strong>
        <a href="{{usefulurl}}" target="_self" class="btn-insight btn btn-outline-primary">{{#str}}yes{{/str}}</a>
        <a href="{{notusefulurl}}" target="_self" class="btn-insight btn btn-outline-primary">{{#str}}no{{/str}}</a>
    </div>
{{/usefulbuttons}}